body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 30px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
}

button {
  padding: 8px 12px;
  margin-top: 5px;
}

ul {
  margin-top: 10px;
}
